body {
    background-color: #ebebe0;
}

.navbar {
    background-color: #bfd741 !important;
    color: white !important;
    font-size: 18px !important;
    margin-left: 100px;
    padding-left: 20px;
    padding-top: 10px;
}

nav img {
    position: fixed;
    width: 100px;
    height: 100px;
    left: 10px !important;
    top: 0px;
    margin-left: 0px !important;
    border-radius: 10%;
    Box-shadow: 30px 0px 40px rgba(207, 211, 198, 0.3), -30px 0px 40px rgba(0, 0, 0, 0.4);
}

.namesize {
    font-size: 24px;
}

li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    transition: background-color 1s;
}

li:hover {
    background-color: white;
    color: #bfd741 !important;
}

h2 {
    text-align: center;
    padding: 20px;
}

footer {
    color: #bfd741 !important;
    background-color: black;
    padding: 20px;
    margin-top: 70px;
    text-align: center;
}

.call-heading {
    position: absolute;
    top: 200px;
    left: 60px;
    color: aliceblue;
}

.call-heading-aboutus {
    position: absolute;
    top: 200px;
    left: 60px;
    color: #94ad0e;
    font-weight: bold;
    background-color: cornsilk !important;
    opacity: 80%;
    width: 400px;
    height: 230px;
}

.call-button-aboutus {
    color: black;
    font-weight: bold;
    border-color: #bfd741;
    transition: background-color 2s;
}

.call-button-aboutus:hover {
    color: black;
    background-color: #bfd741;
}

.call-button {
    color: white;
    border-color: aliceblue;
    transition: background-color 2s;
}

.call-button:hover {
    color: black;
    background-color: #bfd741;
}

.search-button:hover {
    color: black;
    background-color: #bfd741;
}

.pricepara {
    text-align: center !important;
}

.accordian-color {
    color: #94ad0e !important;
    font-size: 22px;
}

.card {
    position: relative;
    float: left;
    margin-left: 100px;
    width: 350px !important;
    height: 500px;
    text-align: center;
    border-radius: 20%;
    background-color: #94ad0e;
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(to top, rgba(191, 215, 65, 0.08), rgba(191, 215, 65, 0.3)), lightgrey;
}


/* Contact Page Styles */


/* Style for required mark (*) */

.symbol {
    color: #8b1c27;
    margin-left: 5px;
}


/* Styles for contact form */

#form h2 {
    text-align: center;
    padding-top: 10px;
}

.contact-form {
    margin: auto;
    margin-top: 25px;
    margin-bottom: 50px;
    width: 500px;
    float: left;
    color: #8EC757;
}

input {
    margin: 10px 0px 10px 0px;
    width: 500px;
}

label {
    font-size: 20px;
}

select {
    width: 500px;
    height: 35px;
    margin: 10px 0px 10px 0px;
}

option {
    font-size: 20px;
}

textarea {
    width: 500px;
    margin: 10px 0px 10px 0px;
}

.submitButton:hover {
    background-color: #8b1c27;
    color: white;
}

.submitButton {
    border-radius: 40px;
    color: #8b1c27;
    background: linear-gradient(to top, rgba(191, 215, 65, 0.08), rgba(191, 215, 65, 0.3)), lightgrey;
}


/* Media Queries */

@media only screen and (max-width: 576px) {
    .heroimg {
        height: 450px;
    }
}